body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:539px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:972px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:972px;
}
#u94 {
  position:absolute;
  left:2px;
  top:478px;
  width:535px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:106px;
}
#u95 {
  position:absolute;
  left:4px;
  top:1px;
  width:155px;
  height:106px;
}
#u96 {
  position:absolute;
  left:2px;
  top:45px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:26px;
}
#u97 {
  position:absolute;
  left:75px;
  top:42px;
  width:84px;
  height:36px;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:26px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:46px;
}
#u99 {
  position:absolute;
  left:124px;
  top:449px;
  width:257px;
  height:46px;
}
#u100 {
  position:absolute;
  left:2px;
  top:15px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:139px;
  top:460px;
  width:212px;
  height:25px;
}
#u101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:25px;
  background-color:transparent;
  font-family:'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:69px;
}
#u102 {
  position:absolute;
  left:381px;
  top:412px;
  width:91px;
  height:69px;
}
#u103 {
  position:absolute;
  left:2px;
  top:26px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
