body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:540px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:1044px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:1044px;
}
#u105 {
  position:absolute;
  left:2px;
  top:514px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:137px;
}
#u106 {
  position:absolute;
  left:276px;
  top:260px;
  width:141px;
  height:137px;
}
#u107 {
  position:absolute;
  left:2px;
  top:60px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
