body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:540px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:891px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:891px;
}
#u98 {
  position:absolute;
  left:2px;
  top:438px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:82px;
}
#u99 {
  position:absolute;
  left:30px;
  top:408px;
  width:476px;
  height:82px;
}
#u100 {
  position:absolute;
  left:2px;
  top:33px;
  width:472px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:29px;
}
#u101 {
  position:absolute;
  left:128px;
  top:453px;
  width:238px;
  height:29px;
}
#u102 {
  position:absolute;
  left:2px;
  top:6px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:136px;
  top:455px;
  width:218px;
  height:25px;
}
#u103_input {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
